<h1>Admin page for <%= @application.name %>'s application</h1>
<h2>Application Status: <%= @application.status  %></h2>
<h3>Pets on App</h3>

<% @pet_applications.each do |pet_application| %>
  <% pet = pet_application.pet %>

  <%= "Status for #{pet.name}: #{pet_application.status}" %><br>

  <% if @application.in_progress? && pet.not_adoptable? %>
    <section>
      <h3>Sorry, this pet has been approved for adoption on a seperate application.</h3>
      <%= render partial: "pet_applications/reject", locals: {pet_application: pet_application} %>
    </section>
  <% end %>


  <% if pet.adoptable? && pet_application.in_progress? %>
    <section>
      <%= form_with url: approve_pet_application_path(pet_application), local: true do |f| %>
        <%= f.submit "Approve" %>
      <% end %>

      <%= render partial: "pet_applications/reject", locals: {pet_application: pet_application} %>
    </section>
  <% end %>

<% end %>
